@font-face {
    font-family: Gilroy Light;
    src: url('../fonts/Gilroy-Light.otf');
}
@font-face {
    font-family: Gilroy Extra Bold;
    src: url('../fonts/Gilroy-ExtraBold.otf');
}
@font-face {
    font-family: Fira Sans Light;
    src: url('../fonts/FiraSans-Light.ttf');
}

body {
    width: 320px;
    margin: 0 auto;
    font-family: "Gilroy Light", "Arial", sans-serif;
    font-size: 16px;
    /*background-image: url(../img/mobile.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    opacity:0.3;*/
}

.container {
    padding: 0 27px;
}
.btn {
    display: block;
    margin: 0 auto;
    padding: 10px 0;
    width: 248px;
    font-family: "Gilroy Extra Bold", "Arial", sans-serif;
    font-size: 14px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    border: none;
    background-color: #767485;
    cursor: pointer;
}

/*==========HEADER=========*/
.header__nav-block {
    display: none;
    background-color: #595765;
}
.header__nav-block_active {
    display: block;
}

.header__btn {
    display: none;
}

.header__top_mob {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 35px;
    background-color: #767485;
}
.header__tel {
    margin: 0;
    color: #fff;
    line-height: 35px;
}
.header__open {
    height: 15px;
    cursor: pointer;
}
.header__open-icon {
    display: block;
    position: relative;
    width: 20px;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}
.header__open-icon::before,
.header__open-icon::after {
    position: absolute;
    top: 6px;
    content: '';
    display: block;
    width: 20px;
    height: 3px;
    background-color: #fff;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}
.header__open-icon::after {
    top: 12px;
}
.header__open-icon:active {
    transform: rotate(45deg);
    top: 5px;
}
.header__open-icon:active::before {
    opacity: 0;
}


.header__open-icon:active::after {
    top: 0px;
    transform: rotate(-90deg);
}
.header__open-icon_active::before {
    display: none;
}
.header__open-icon_active {
    transform: rotate(45deg);
    top: 5px;
}
.header__open-icon_active::after {
    top: 0px;
    transform: rotate(-90deg);
}

/*===mobile-menu===*/
.header__nav {
    list-style: none;
    margin: 0;
    padding: 0 58px;
}
.header__nav-item {
    width: 100%;
    display: block;
    padding-top: 2px;
    border-bottom: 1px solid #fff;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 30px;
}
.header__contacts {
    margin: 0;
    padding: 22px 0;
    color: #fff;
    font-size: 14px;
    font-family: "Fira Sans Light", "Arial", sans-serif;
    text-align: center;
}

/*======TOP-BLOCK=====*/
.top-block {
    position: relative;
    background-image: url(../img/top-block_bg-mobile.png);
    background-position: 0 -35px;
    padding-top: 35px;
    padding-bottom: 59px;
}
.top-block__logo {
    text-align: center;
}
.top-block__logo img {
    padding-bottom: 8px;
    border-bottom: 1px solid #fff;
    width: 148px;
}
.top-block__title {
    margin-top: 4px;
    margin-bottom: 21px;
    margin-left: -15px;
    margin-right: -15px;
    font-family: "Gilroy Extra Bold", "Arial", sans-serif;
    font-size: 24px;
    letter-spacing: 1.3px;
    line-height: 30px;
    color: #f54989;
    text-transform: uppercase;
    text-align: center;
}
.top-block__title span {
    display: block;
    padding-top: 22px;
    padding-bottom: 25px;
    margin-bottom: -37px;
    font-family: "Gilroy Light", "Arial", sans-serif;
    font-size: 21px;
    letter-spacing: 2.5px;
    color: #fff;
    background-image: url("../img/ribbon-mobile.png");
    background-repeat: no-repeat;
    background-position: -1px 19px;
    background-size: 101%;
}

@media (min-width: 768px) {
    body {
        background-image: url("../img/desktop.jpg");
        width: auto;
        margin: 0 auto;
    }

    .container {
        width: 1200px;
        margin: 0 auto;
    }

    /*======HEADER======*/
    .header {
        width: 1200px;
        margin: 0 auto;
        padding: 32px 0;
        display: flex;
        justify-content: space-between;
    }

    .header__nav-block {
        display: block;
        background-color: transparent;
        width: 58%;
    }

    .header__btn {
        display: block;
        background-color: #ff6694;
    }

    .header__top_mob {
        display: none;
    }

    .header__contacts {
        display: none;
    }

    .header__nav {
        display: flex;
        justify-content: space-between;
        padding: 15px 0;
    }

    .header__nav-item {
        text-decoration: none;
        font-size: 20px;
        border-bottom: none;
    }

    .header__nav-item:hover {
        border-bottom: 3px solid #ff6694;
    }

    .header__btn {
        margin: 0;
        width: 34%;
        font-size: 23px;
        font-family: "Gilroy Light", "Arial", sans-serif;
    }

    /*======TOP-BLOCK======*/
    .top-block {
        background-image: url(../img/top-block_bg-desc.png);
        background-size: 143%;
        background-position: -298px -130px;
        padding-bottom: 71px;
    }
    .top-block__logo img {
        width: auto;
        padding: 9px 60px 40px 55px;
        border-bottom: 3px solid #fff;
    }
    .top-block__title {
        margin-top: 40px;
        font-size: 60px;
        line-height: 89px;
    }
    .top-block__title span {
        font-size: 44px;
        padding-top: 7px;
        margin-bottom: -113px;
        background-position: 268px 8px;
        background-size: 56%;
    }
    .top-block__btn {
        display: none;
    }
}

/*======WORKS=====*/

.works {
    background: #7c798e url("../img/works_bg_mobile.png") no-repeat;
    min-height: 706px;
}

.block-title {
    display: flex;
    justify-content: center;
}

.block-title__content {
    font-family: "Gilroy Extra Bold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 1px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 10px;
    margin: 20px 50px;
    border-bottom: 1px solid #ff6e9c;
}

.top-block__gallery {
    width: 270px;
    height: 175px;
    margin: 0 auto;
    margin-bottom: 25px;
    border: 6px solid #767485;
    background: url("../img/works_slider_bg_mobile.png") no-repeat;
}

.works__slider-img {
    display: block;
    margin: 10px auto;
}

.swiper-button-next {
    width: 17px;
    height: 30px;
    background: url("../img/arrow-next_mobile.jpg");
    transform: translate(5%, 25%);
}

.swiper-button-prev {
    width: 17px;
    height: 30px;
    background: url("../img/arrow-prev_mobile.jpg");
    transform: translate(-25%, 25%);
}

/*======REVIEWS=====*/

.reviews {
    background: url("../img/reviews-bg-mobile.png") no-repeat;
    min-height: 637px;
}

.block-title__content_grey {
    color: #767485;
}

.reviews__item {
    width: 267px;
    margin: 0 auto;
}

.reviews__author {
    text-align: center;
}

.reviews__autor-photo {
    width: 84px;
    height: 84px;
    border: 7px solid white;
    border-radius: 50%;
}

.reviews__author-name {
    font-family: "Fira Sans Light", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #767485;
    margin: 0;
}

.reviews__author-course {
    font-family: "Fira Sans Light", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #767485;
    margin: 0;
}

.reviews__author-address {
    font-family: "Fira Sans Light", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #ff6492;
    margin: 5px;
    padding-left: 23px;
    position: relative;
}

.reviews__author-address::before {
    content: "";
    position: absolute;
    left: 93px;
    width: 16px;
    height: 16px;
    background-image: url("../img/icon_insta.png");
    background-repeat: no-repeat;
}

.reviews__text-block {
    background-color: white;
    padding: 22px;
    margin-top: 16px;
    position: relative;
}

.reviews__text-block::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 2;
    width: 20px;
    height: 20px;
    transform: translate(0, -50%) rotate(45deg);
    background: white;
}

.review__text {
    font-size: 10px;
    line-height: 14px;
    font-weight: 600;
    font-style: italic;
    text-align: justify;
    margin: 0;
}

.reviews__photo {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.see-all {
    text-align: center;
    color: #ff6694;
    display: block;
}

.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    border: 2px solid white;
    background: white;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #9fdd56;
}

.reviews .swiper-pagination-bullets {
    bottom: 48px;
}

/*======ADVANTAGES=====*/

.advantages {
    background: url("../img/advantages-bg-mobile.png") no-repeat;
    margin-top: -16px;
    font-family: "Fira Sans Light", "Arial", sans-serif;
    text-align: center;
}

.advantage__item {
    width: 268px;
    margin: 0 auto;
    padding-top: 180px;
    padding-bottom: 50px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.advantage__item::before {
    content: "";
    position: absolute;
    width: 220px;
    height: 200px;
    top: 0;
}

.advantage__item.advantage__item_experience::before {
     background: url(../img/advantage-cup.png);
    top: -20px;
}

.advantage__item.advantage__item_full-service::before {
    background: url(../img/advantage-flowers.png);
}

.advantage__title {
    background-color: #9ac22e;
    flex-grow: 1;
    font-size: 22px;
    line-height: 24px;
    text-transform: uppercase;
    color: white;
    padding: 30px;
    margin: 0;
}

.advantage__text {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 22px;
    line-height: 30px;
    margin: 0;
}

.advantages .swiper-pagination-bullet-active {
    background-color: #ff6694;
}
