@media (min-width: 768px) {
    .form__input {
        background: rgba(255, 255, 255, 0.8);
    }
    body {
        /*background-image: url("../img/desktop.jpg");*/
        width: auto;
        margin: 0 auto;
    }

    .container {
        width: 1200px;
        margin: 0 auto;
    }

    /*======HEADER======*/
    .header .container {
        display: flex;
        justify-content: space-between;
    }
    .header {
        margin: 0 auto;
        padding: 32px 0;
        background-color: #767485;
    }

    .header__nav-block {
        display: block;
        background-color: transparent;
        width: 58%;
        margin: 0;
    }

    .header__btn {
        display: block;
        background-color: #ff6694;
    }

    .header__top_mob {
        display: none;
    }

    .header__contacts {
        display: none;
    }

    .header__nav {
        display: flex;
        justify-content: space-between;
        padding: 15px 0;
    }

    .header__nav-item {
        text-decoration: none;
        font-size: 20px;
        border-bottom: none;
    }

    .header__nav-item:hover {
        border-bottom: 3px solid #ff6694;
        margin-bottom: -3px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .header__btn {
        margin: 0;
        width: 34%;
        font-size: 23px;
        font-family: "Gilroy Light", "Arial", sans-serif;
    }

    /*======TOP-BLOCK======*/
    .top-block {
        background-image: url(../img/top-block_bg-desc.png);
        background-size: 1890px;
        background-position: center -130px;
        padding-bottom: 71px;
        background-repeat: no-repeat;
    }
    .top-block__logo img {
        width: auto;
        padding: 9px 60px 40px 55px;
        border-bottom: 3px solid #fff;
    }
    .top-block__title {
        margin-top: 40px;
        font-size: 60px;
        line-height: 89px;
    }
    .top-block__title span {
        font-size: 44px;
        padding-top: 15px;
        margin-bottom: -113px;
        background-position: 268px 15px;
        background-size: 56%;
    }
    .top-block__btn {
        display: none;
    }

    /*======PROGRAMM======*/
    .programm {
        background-image: url("../img/programm_bg-desc.png");
        background-size: 128%;
        background-position: center -740px;
        padding-top: 260px;
        padding-bottom: 110px;
    }
    .block-title__content.block-title__content-programm {
        border-bottom-width: 3px;
        margin-bottom: 55px;
    }
    .block-title__content {
        font-size: 45px;
        line-height: 45px;
        border-bottom-width: 3px;
    }
    .block-title__content-programm {
        margin-bottom: 78px;
    }
    .programm__item-is_name-empty {
        display: block;
        width: 33%;
    }
    .programm__item-is {
        width: 33%;
        height: 91px;
        margin-bottom: 6px;
        padding-top: 9px;
    }
    .programm__item-is span {
        font-size: 30px;
        font-family: "Gilroy Light";
    }
    .programm__item-is_cell {
        height: 80px;
        margin-bottom: 6px;
        text-align: center;
        display: inline-flex;
        justify-content: center;
    }
    .programm__item-is_cell-yes {
        background-size: 62px;
    }
    .programm__item-is_cell-no {
        background-size: 47px;
    }
    .programm__item-is_cell .programm__item-price {
        font-family: "Fira Sans Bold", "Arial", sans-serif;
        font-size: 45px;
        color: #767485;
    }
    .programm__item-price i {
        height: 30px;
        width: 30px;
        margin-left: 10px;
        display: inline-block;
        background-image: url("../img/programm_price.png");
        background-repeat: no-repeat;
    }
    .programm__item-name {
        width: 33%;
        height: 80px;
        margin-bottom: 6px;
        padding: 15px 37px;
        font-size: 25px;
        text-align: left;
        justify-content: flex-start;
    }
    .programm__item-is_name {
        font-family: "Gilroy Extra Bold", serif;
        font-size: 30px;
    }
    .programm__item_mob {
        display: none;
    }
    .programm__item_price {
        display: flex;
    }
    .programm__form {
        padding: 16px 190px;
    }
    .programm__form-wrap {
        display: flex;
        justify-content: space-between;
    }
    .form__left {
        width: 47%;
    }
    .form__right {
        width: 47%;
    }
    .form__input-label {
        font-size: 25px;
        padding-left: 35px;
    }
    .form__radio-indicator {
        width: 25px;
        height: 25px;
    }
    .form__radio-type:checked + .form__radio-indicator {
        border: 5px solid #fff;
    }
    .form__title.form__title_programm {
        font-size: 40px;
        line-height: 60px;
        border-bottom-width: 3px;
        margin-bottom: 49px;
    }
    .form__input-programm {
        font-size: 25px;
    }
    .programm-form__btn {
        margin-top: -3px;
        font-size: 27px;
    }

    /*======WORKS======*/
    .works {
        background: url(../img/works_bg.png) no-repeat center;
        margin-top: -87px;
        padding-bottom: 60px;
        background-size: 128%;
        background-position: center 25px;
    }

    .block-title {
        padding-top: 90px;
    }

    .top-block__gallery {
        display: flex;
        align-items: center;
        width: 714px;
        height: 468px;
        border: 6px solid #767485;
        background: url(../img/works_slider_bg_desctop.png) no-repeat;
        margin-right: 77px;
    }

    .swiper-button-next {
        width: 44px;
        height: 58px;
        background: url(../img/arrow-next.jpg);
        transform: translate(-18%, 0)
    }
    .form__input {
        font-size: 25px;
    }
    .form__btn {
        font-size: 30px;
    }
    
    /*======FAQ======*/
    .faq {
        background-image: url("../img/faq_bg_desc.png");
        background-position: center 0;
        padding: 300px 273px 470px 273px;
    }
    .faq__item {
        margin-bottom: 15px;
    }
    .fqa__item-title {
        font-size: 28px;
        border-width: 2px;
    }
    .faq__item-content {
        font-family: "Fira Sans LightItalic", "Arial", sans-serif;
        font-size: 18px;
        line-height: 22px;
    }

    /*======ADVANTAGES======*/
    .advantages {
        background-image: url("../img/advantages-bg-desk.png");
        background-size: 130%;
        background-position: center -90px;
    }
    .swiper-wrapper {
        width: 1200px;
        margin: 0 auto;
        justify-content: space-between;
    }
    .swiper-slide {
        width: 21% !important;
    }
    .advantage__title {
        height: 105px;
        padding: 15px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        font-family: "Gilroy Extra Bold", "Arial", sans-serif;
        line-height: 24px;
    }
    .advantage__text {
        padding: 17px 10px;
        height: 280px;
        box-sizing: border-box;
    }
    .advantages .swiper-pagination {
        display: none;
    }
    .advantages__form {
        box-sizing: border-box;
        margin: 0 auto;
        margin-top: 40px;
        width: 1135px;
        padding: 15px 90px;
        padding-bottom: 35px;
    }
    .form__title_adv {
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 30px;
    }
    .form__input_adv {
        margin-right: 30px;
        margin-bottom: 0;
        font-size: 25px;
    }
    .form__btn_adv {
        font-family: "Gilroy Extra Bold", serif;
        font-size: 26px;
    }
    .advantages__form-wrap {
        display: flex;
        justify-content: space-between;
    }
    /*======FOOTER======*/
    .main-footer__copyright span {
        display: inline;
        margin-right: 5px;
    }
    .main-footer__copyright span:first-child::before {
        display: none;
    }

    .swiper-button-prev {
        width: 44px;
        height: 58px;
        background: url(../img/arrow-prev.jpg);
        transform: translate(18%, 0);
    }

    .works__wrapper {
        margin-top: 48px;
        display: flex;
    }

    .form__title {
        font-size: 32px;
        margin: 30px auto;
    }
}