@font-face {
    font-family: Gilroy Light;
    src: url('../fonts/Gilroy-Light.otf');
}
@font-face {
    font-family: Gilroy Extra Bold;
    src: url('../fonts/Gilroy-ExtraBold.otf');
}
@font-face {
    font-family: Fira Sans Light;
    src: url('../fonts/FiraSans-Light.ttf');
}

body {
    width: 320px;
    margin: 0 auto;
    font-family: "Gilroy Light", "Arial", sans-serif;
    font-size: 16px;
    /*background-image: url(../img/mobile.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    opacity:0.3;*/
}

.container {
    padding: 0 27px;
}
.btn {
    display: block;
    margin: 0 auto;
    padding: 10px 0;
    width: 248px;
    font-family: "Gilroy Extra Bold", "Arial", sans-serif;
    font-size: 14px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    border: none;
    background-color: #767485;
    cursor: pointer;
}

/*==========HEADER=========*/
.header {
    background-color: #767485;
}
.header__nav-block {
    display: none;
    background-color: #595765;
    margin-left: -27px;
    margin-right: -27px;
}
.header__nav-block_active {
    display: block;
}
.header__btn {
    display: none;
}
.header__top_mob {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 35px;
    background-color: #767485;
}
.header__tel {
    margin: 0;
    color: #fff;
    line-height: 35px;
}
.header__open {
    height: 15px;
    cursor: pointer;
}
.header__open-icon {
    display: block;
    position: relative;
    width: 20px;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}
.header__open-icon::before,
.header__open-icon::after {
    position: absolute;
    top: 6px;
    content: '';
    display: block;
    width: 20px;
    height: 3px;
    background-color: #fff;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}
.header__open-icon::after {
    top: 12px;
}
.header__open-icon:active {
    transform: rotate(45deg);
    top: 5px;
}
.header__open-icon:active::before {
    opacity: 0;
}
.header__open-icon:active::after {
    top: 0px;
    transform: rotate(-90deg);
}
.header__open-icon_active::before {
    display: none;
}
.header__open-icon_active {
    transform: rotate(45deg);
    top: 5px;
}
.header__open-icon_active::after {
    top: 0px;
    transform: rotate(-90deg);
}

/*===mobile-menu===*/
.header__nav {
    list-style: none;
    margin: 0;
    padding: 0 58px;
}
.header__nav-item {
    width: 100%;
    display: block;
    padding-top: 2px;
    border-bottom: 1px solid #fff;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 30px;
}
.header__contacts {
    margin: 0;
    padding: 22px 0;
    color: #fff;
    font-size: 14px;
    font-family: "Fira Sans Light", "Arial", sans-serif;
    text-align: center;
}

/*======TOP-BLOCK=====*/
.top-block {
    position: relative;
    background-image: url(../img/top-block_bg-mobile.png);
    background-position: 0 -35px;
    padding-top: 35px;
    padding-bottom: 59px;
}
.top-block__logo {
    text-align: center;
}
.top-block__logo img {
    padding-bottom: 8px;
    border-bottom: 1px solid #fff;
    width: 148px;
}
.top-block__title {
    margin-top: 4px;
    margin-bottom: 21px;
    margin-left: -15px;
    margin-right: -15px;
    font-family: "Gilroy Extra Bold", "Arial", sans-serif;
    font-size: 24px;
    letter-spacing: 1.3px;
    line-height: 30px;
    color: #f54989;
    text-transform: uppercase;
    text-align: center;
}
.top-block__title span {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: -37px;
    font-family: "Gilroy Light", "Arial", sans-serif;
    font-size: 21px;
    letter-spacing: 2.5px;
    color: #fff;
    background-image: url("../img/ribbon-mobile.png");
    background-repeat: no-repeat;
    background-position: -1px 16px;
    background-size: 101%;
}

/*======WORKS=====*/

.works {
    background: url("../img/works_bg_mobile.png") no-repeat;
    background-position: 0 -62px;
    margin-top: -17px;
}
.block-title {
    display: flex;
    justify-content: center;
}
.block-title__content {
    font-family: "Gilroy Extra Bold", "Arial", sans-serif;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 1px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 3px;
    margin: 20px 50px;
    margin-top: 38px;
    border-bottom: 2px solid #ff6e9c;
}
.top-block__gallery {
    width: 270px;
    height: 175px;
    margin: 0 auto;
    margin-bottom: 25px;
    border: 6px solid #767485;
    background: url("../img/works_slider_bg_mobile.png") no-repeat;
}
.works__slider-img {
    display: block;
    margin: 10px auto;
}
.swiper-button-next {
    width: 17px;
    height: 30px;
    background: url("../img/arrow-next_mobile.jpg");
    transform: translate(5%, 25%);
}
.swiper-button-prev {
    width: 17px;
    height: 30px;
    background: url("../img/arrow-prev_mobile.jpg");
    transform: translate(-25%, 25%);
}
.works__form {
    padding-bottom: 96px;
}

/*======PROGRAMM======*/
.programm {
    margin-top: -15px;
    padding-top: 15px;
    padding-bottom: 59px;
    background-image: url("../img/programm_bg-mobile.png");
    background-position: 0 -122px;
}
.block-title__content-programm {
    margin: 15px 10px 15px 10px;
    border-bottom: 1px solid #fff;
}
.programm__block-title {
    font-family: "Gilroy Light", "Arial", sans-serif;
    font-size: 13px;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.programm__item-is {
    box-sizing: border-box;
    width: 49.5%;
    height: 37px;
    margin: 0;
    margin-bottom: 2px;
}
.programm__item-is_name {
    padding: 4px;
    background-color: #767485;
}
.programm__item-is_name-empty {
    display: none;
}
.programm__item-is span {
    font-size: 11px;
}
.programm__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.programm__item p {
    background-color: rgba(255, 255, 255, 0.8);
}
.programm__item-name {
    width: 100%;
    height: 37px;
    margin: 0;
    margin-bottom: 2px;
    padding: 4px;
    box-sizing: border-box;
    font-family: "Fira Sans Light", "Arial", sans-serif;
    font-size: 14px;
    color: #595765;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.programm__item-is_cell {
    background-image: url("../img/icon-ok.png");
    background-repeat: no-repeat;
    background-position: center;
}
.programm__item-is_cell-yes {
    background-image: url("../img/icon-ok.png");
}
.programm__item-is_cell-no {
    background-image: url("../img/icon-cross.png");
}

.programm__form {
    padding: 0 24px;
    padding-bottom: 22px;
    background-image: url("../img/programm_form-bg.png");
    text-align: center;
}
.form__title.form__title_programm {
    margin-top: 0;
    margin-bottom: 18px;
    padding-top: 11px;
    font-size: 16px;
    line-height: 23px;
    display: inline-block;
    border-bottom: 2px solid #ff6694;
}
.form__input.form__input-programm {
    margin-bottom: 18px;
}
.form__right {
    text-align: left;
}
.form__input-label {
    position: relative;
    display: block;
    margin-bottom: 11px;
    margin-right: -7px;
    padding-left: 23px;
    font-size: 14px;
    letter-spacing: 0.2px;
    color: #fff;
}
.form__radio-type {
    display: none;
}
.form__radio-indicator {
    position: absolute;
    left: 0;
    display: block;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}
.form__radio-type:checked + .form__radio-indicator{
    background-color: #fe7c9f;
    border: 4px solid #fff;
}
.programm-form__btn {
    margin-top: 16px;
}
/*======FORM======*/
form {
    padding: 0 44px;
}
.form__title {
    margin-bottom: 21px;
    font-family: "Gilroy Light", "Arial", sans-serif;
    font-size: 18px;
    color: #fff;
    text-align: center;
}
.form__input {
    width: 100%;
    padding: 15px;
    margin-bottom: 14px;
    box-sizing: border-box;
    font-family: "Gilroy Light", "Arial", sans-serif;
    font-size: 15px;
    color: #767485;
    text-align: center;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
}
.form__btn {
    width: 100%;
    padding: 12px 0;
    background-color: #ff6694;
    font-size: 18px;
}

.block-title__content {
    font-family: "Gilroy Extra Bold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 1px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 10px;
    margin: 20px 50px;
    border-bottom: 1px solid #ff6e9c;
}

.top-block__gallery {
    width: 270px;
    height: 175px;
    margin: 0 auto;
    margin-bottom: 25px;
    border: 6px solid #767485;
    background: url("../img/works_slider_bg_mobile.png") no-repeat;
}

.works__slider-img {
    display: block;
    margin: 10px auto;
}

.swiper-button-next {
    width: 17px;
    height: 30px;
    background: url("../img/arrow-next_mobile.jpg");
    transform: translate(5%, 25%);
}

.swiper-button-prev {
    width: 17px;
    height: 30px;
    background: url("../img/arrow-prev_mobile.jpg");
    transform: translate(-25%, 25%);
}

/*======REVIEWS=====*/

.reviews {
    background: url("../img/reviews-bg-mobile.png") no-repeat;
    min-height: 637px;
}

.block-title__content_grey {
    color: #767485;
}

.reviews__item {
    width: 267px;
    margin: 0 auto;
}

.reviews__author {
    text-align: center;
}

.reviews__autor-photo {
    width: 84px;
    height: 84px;
    border: 7px solid white;
    border-radius: 50%;
}

.reviews__author-name {
    font-family: "Fira Sans Light", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #767485;
    margin: 0;
}

.reviews__author-course {
    font-family: "Fira Sans Light", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #767485;
    margin: 0;
}

.reviews__author-address {
    font-family: "Fira Sans Light", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #ff6492;
    margin: 5px;
    padding-left: 23px;
    position: relative;
}

.reviews__author-address::before {
    content: "";
    position: absolute;
    left: 93px;
    width: 16px;
    height: 16px;
    background-image: url("../img/icon_insta.png");
    background-repeat: no-repeat;
}

.reviews__text-block {
    background-color: white;
    padding: 22px;
    margin-top: 16px;
    position: relative;
}

.reviews__text-block::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 2;
    width: 20px;
    height: 20px;
    transform: translate(0, -50%) rotate(45deg);
    background: white;
}

.review__text {
    font-size: 10px;
    line-height: 14px;
    font-weight: 600;
    font-style: italic;
    text-align: justify;
    margin: 0;
}

.reviews__photo {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.see-all {
    text-align: center;
    color: #ff6694;
    display: block;
}

.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    border: 2px solid white;
    background: white;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #9fdd56;
}

.reviews .swiper-pagination-bullets {
    bottom: 48px;
}

/*======ADVANTAGES=====*/

.advantages {
    background: url("../img/advantages-bg-mobile.png") no-repeat;
    margin-top: -16px;
    font-family: "Fira Sans Light", "Arial", sans-serif;
    text-align: center;
}

.advantage__item {
    width: 268px;
    margin: 0 auto;
    padding-top: 180px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.advantage__item::before {
    content: "";
    position: absolute;
    width: 220px;
    height: 200px;
    top: 0;
}

.advantage__item.advantage__item_experience::before {
     background: url(../img/advantage-cup.png);
    top: -20px;
}

.advantage__item.advantage__item_full-service::before {
    background: url(../img/advantage-flowers.png);
    top: 21px;
}

.advantage__item.advantage__item_equipment::before {
    background: url(../img/advantage-equipment.png);
    top: 21px;
    width: 148px;
    height: 161px;
}

.advantage__item.advantage__item_diploma::before {
    background: url(../img/advantage-diploma.png);
    top: -19px;
    width: 320px;
}

.advantage__title {
    background-color: #9ac22e;
    flex-grow: 1;
    font-size: 22px;
    line-height: 24px;
    text-transform: uppercase;
    color: white;
    padding: 30px;
    margin: 0;
    box-shadow: 0 -5px 10px 3px rgba(0,0,0,0.2);
    position: relative;
}

.advantage__text {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 22px;
    line-height: 30px;
    margin: 0;
}

.advantages .swiper-pagination {
    position: static;
    margin-top: 5px;
}

.advantages .swiper-pagination-bullet-active {
    background-color: #ff6694;
}

/*======ADD QUESTIONS=====*/

.add-questions {
    background: url(../img/addQuestion-bg-mobile.png) no-repeat center;
    min-height: 916px;
    font-family: "Fira Sans Light", "Arial", sans-serif;
    color: white;
}

.block-title_add-questions {
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
}

.add-questions__container {
    width: 267px;
    margin: 0 auto;
    margin-top: 66px;
}

.add-questions__slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 102, 148, 0.7);
    padding: 28px 20px 40px 20px;
    box-sizing: border-box;
}

.add-questions__img {
    display: block;
    width: 64px;
    height: 64px;
}

.add-questions__question {
    font-size: 16.8px;
    line-height: 22.7px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
    margin-bottom: 5px;
}

.add-questions__answer {
    font-size: 16.8px;
    line-height: 25.2px;
}

.add-questions .swiper-pagination-bullet-active {
    background-color: #ff6694;
}

.add-questions .swiper-pagination {
    position: static;
    margin-top: 5px;
}


@media (min-width: 768px) {
    body {
        background-image: url("../img/desktop.jpg");
        width: auto;
        margin: 0 auto;
    }

    .container {
        width: 1200px;
        margin: 0 auto;
    }

    /*======HEADER======*/
    .header .container {
        display: flex;
        justify-content: space-between;
    }

    .header {
        margin: 0 auto;
        padding: 32px 0;
        background-color: #767485;
    }

    .header__nav-block {
        display: block;
        background-color: transparent;
        width: 58%;
        margin: 0;
    }

    .header__btn {
        display: block;
        background-color: #ff6694;
    }

    .header__top_mob {
        display: none;
    }

    .header__contacts {
        display: none;
    }

    .header__nav {
        display: flex;
        justify-content: space-between;
        padding: 15px 0;
    }

    .header__nav-item {
        text-decoration: none;
        font-size: 20px;
        border-bottom: none;
    }

    .header__nav-item:hover {
        border-bottom: 3px solid #ff6694;
        margin-bottom: -3px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .header__btn {
        margin: 0;
        width: 34%;
        font-size: 23px;
        font-family: "Gilroy Light", "Arial", sans-serif;
    }

    /*======TOP-BLOCK======*/
    .top-block {
        background-size: 1890px;
        background: url(../img/top-block_bg-desc.png) -298px -130px;
        padding-bottom: 71px;
    }

    .top-block__logo img {
        width: auto;
        padding: 9px 60px 40px 55px;
        border-bottom: 3px solid #fff;
    }

    .top-block__title {
        margin-top: 40px;
        font-size: 60px;
        line-height: 89px;
    }

    .top-block__title span {
        font-size: 44px;
        padding-top: 15px;
        margin-bottom: -113px;
        background-position: 268px 15px;
        background-size: 56%;
    }

    .top-block__btn {
        display: none;
    }

    /*======PROGRAMM======*/
    .programm {
        margin-top: 518px;
        background-image: url("../img/programm_bg-desc.png");
    }
    .block-title__content {
        font-size: 45px;
        line-height: 45px;
    }
    .block-title__content-programm {
        margin-bottom: 91px;
    }
    .programm__item-is_name-empty {
        display: block;
        width: 33%;
    }
    .programm__item-is {
        width: 33%;
        height: 91px;
        margin-bottom: 6px;
        padding-top: 9px;
    }
    .programm__item-is span {
        font-size: 30px;
        font-family: "Gilroy Extra Bold";
    }
    .programm__item-is_cell {
        height: 80px;
        margin-bottom: 6px;
    }
    .programm__item-is_cell-yes {
        background-size: 62px;
    }
    .programm__item-is_cell-no {
        background-size: 47px;
    }
    .programm__item-name {
        width: 33%;
        height: 80px;
        margin-bottom: 6px;
        padding: 15px 37px;
        font-size: 25px;
        text-align: left;
        justify-content: flex-start;
    }
    .programm__item-is_name {
        font-family: "Gilroy Extra Bold", serif;
        font-size: 30px;
    }
}

